body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #21d4fd;
}

.container {
  width: 80%;
  margin: 50px auto;
  background-color: #21d4fd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.header span {
  font-size: 1.2em;
  font-weight: bold;
}

.header button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #784caf;
  color: white;
  cursor: pointer;
}

/* Table */
.divTable {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.lab,
.hora,
.prof {
  text-align: center;
  color: rgba(18, 18, 18, 0.946);
  font-size: 16px;
}

.acao {
  text-align: center;
}

.acao button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin: 0 5px;
  background-color: #784caf;
}

.acao button:hover {
  background-color: #ccc;
}

/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensure modal is above other content */
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  position: relative; /* Allow clicks inside modal to stop propagation */
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal label {
  font-weight: bold;
}

.modal input,
.modal select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.modal #m-sala { /* Estilo para o campo de entrada da sala */
  text-transform: uppercase; /* Transforma o texto em maiúsculo */
}

.modal button[type="button"] {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #544caf;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-end;
}

/* Alerta */
.alert {
  background-color: #ff6b6b;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

footer {
  margin-top: 2em; /* Ajuste da margem superior do rodapé */
  text-align: center;
  color: rgba(9, 9, 9, 0.946);
  font-size: 16px;
}

@media screen and (max-width:400px){
  .container {
    width: 100%;
    background-color: #21d4fd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
    
    .header button {
      padding: 8px 16px;
      border: none;
      border-radius: 5px;
      background-color: #784caf; 
      color: white;
      cursor: pointer;
    }
    
    /* Table  */
    .divTable {
      margin-top: 10px;
      font-size:10px;
      
    }
    
    .lab {
      text-align: center;
      color:rgba(239, 236, 236, 0.946);
      font-size: 12px;
    
    }
    
    .hora {
      text-align: center;
      color:rgba(239, 236, 236, 0.946);
      font-size: 12px;
    
    }
    
    .prof {
      text-align: center;
      color:rgba(239, 236, 236, 0.946);
      font-size: 12px;
    
    }
    
    .acao {
      text-align: center;
      
    }
    
    .acao button {
      padding: 5px 10px;
      border: none;
      border-radius: 3px;
      color:white;
      cursor: pointer;
      margin: 0 5px;
      background-color: #784caf; 
    
      
    }
    
    .acao button:hover {
      background-color: #ccc; 
    }
    
    /* Modal */
    .modal-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10; /* Ensure modal is above other content */
    }
    
    
    footer{
      margin-top: 1em;
      text-align: center;
      color:rgba(9, 9, 9, 0.946);
      font-size: 16px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
  }

  @media screen and (max-width:500px){
    .container {
      width: 100%;
      background-color: #21d4fd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
      
      .header button {
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        background-color: #784caf; 
        color: white;
        cursor: pointer;
      }
      
      /* Table  */
      .divTable {
        margin-top: 10px;
        font-size:10px;
        
      }
      
      .lab {
        text-align: center;
        color:rgba(239, 236, 236, 0.946);
        font-size: 12px;
      
      }
      
      .hora {
        text-align: center;
        color:rgba(239, 236, 236, 0.946);
        font-size: 12px;
      
      }
      
      .prof {
        text-align: center;
        color:rgba(239, 236, 236, 0.946);
        font-size: 12px;
      
      }
      
      .acao {
        text-align: center;
        
      }
      
      .acao button {
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        color:white;
        cursor: pointer;
        margin: 0 5px;
        background-color: #784caf; 
      
        
      }
      
      .acao button:hover {
        background-color: #ccc; 
      }
      
      /* Modal */
      .modal-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10; /* Ensure modal is above other content */
      }
      
      
      footer{
        margin-top: 1em;
        text-align: center;
        color:rgba(9, 9, 9, 0.946);
        font-size: 16px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
  }
  
  

