@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');

.logo{
  margin-bottom: 1em;
  width: 32em;


}

.sidebar {
    background-color: rgb(65, 134, 207);
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
  }
  
  .sidebar h1 {
    color: aliceblue;
    margin-bottom: 20px;
  }
  
  .sidebar h2 {
    color: aliceblue;
    margin-bottom: 10px;
  }
  
  .sidebar p {
    color: aliceblue;
    margin-bottom: 5px;
  }
  
  .sidebar a {
    color: #333;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }


  h5{
    margin-top: 5em;
    font-size:20px;
    color: aliceblue;
  }

